.hero {
    width: 100%;
    padding-bottom: 5.625rem;
    height: 40.625rem;

    
    
    
    .mobile-intro-img {
        position: relative;
        min-height: 20rem;
        overflow: hidden;
        margin-bottom: 3.125rem;
        background: url(../../assests/images/image-mockups.png);
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center 70%;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        &::before {
            background: url(../../assests/images/bg-intro-mobile.svg);
            background-size: cover;
            background-position-y: 5%;
            background-repeat: no-repeat;
        }
    }
    

    .text-group {
        text-align: center;
        min-width: 60%;

        h1 {
            font-size: $font-xl;
            color: $darkBlue;
            font-weight: 400;
            margin-bottom: 1.375rem;
        }
        p {
            font-size: $font-xs;
            color: $grayishBlue;
            margin-bottom: 2.0625rem;
        }
    }
    .btn {
        margin: 0 auto;
    }
    
    @include breakpoint-up(small) {
        height: 100%;
        max-height: 40.625rem;
        padding: 11.125rem 0;
        .text-group {
            width: 50%;
            text-align: start;
            height: 100%;

            h1 {
                font-size: $font-xxl;
            }
        }
        .btn {
            margin: 0;
        }
        .desktop-intro-img {
            position: absolute;
            width: 37%;
            height: 100%;
            right: 0;
            top: 0;
            &::before {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 120%;
                height: 100%;
                background-image: url(../../assests/images/bg-intro-desktop.svg);
                background-repeat: no-repeat;
                background-size: 200%;
                background-position: -10% left;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-image: url(../../assests/images/image-mockups.png);
                background-size: 110%;
                transform: translateY(10%) translateX(15%);
                background-repeat: no-repeat;
            }
        }
    }
}
@include breakpoint-down(mediam) {
    .desktop-intro-img {
        background-position: 8% 55%;
    }

    .hero .desktop-intro-img img {
        width: 34rem;
        height: 46.3rem;
        min-width: 0;
        transform: translate(25%, 0%);
    }
}